.App {
  display: block;
  height: 100vh;
}

body {
  background-color: seagreen;
  /* display: flex;
  align-content: center; */
}

.header {
  background-color: red;
  justify-content: center;
  height: 10vh;
  width: 100vw;
}

main {
  display: inline-flex;
  justify-content: space-around;
  align-items: top;
  width: 100vw;
  margin: 10px;
}

.device-search, .saved-list {
  display: inline-flex;
  /* flex-basis: 1; */
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40vw;
  margin: 50px;
}

header, footer, h1, h2 {
  text-align: center;
  vertical-align: middle;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

.device-record, .saved-device {
  width: 30vw;
  overflow-wrap: break-word;
  border: 10px solid black;
  padding: 10px;
  background-color: lightyellow;
  margin: 10px;
}

.footer {
  background-color: blue;
  height: 10vh;
  width: 100vw;
}


